body {
  font-family: HelvLight;
  color: #2d3c49;
}
a {
  text-decoration: none;
  color: #2d3c49;
}
a:hover {
  text-decoration: underline;
  color: #7d97ad;
}
.container {
  display: flex;   
  flex-direction: column;  
  justify-content: center; 
  align-items: center; 
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
.header {
  width: 100%;
  height: 15%;
  border-width: 0px 0px 3px 0px;
  border-style: solid; 
  border-color: #7d97ad;
  display: flex;
}
.main {
  width: 100%;
  height: 55%;
  padding-top: 30px; 
  padding-bottom: 30px; 
}
.footer {
  width: 100%;
  height: 30%;
}
.logo {
  width: 25%;
}
.logo_img {
  height: 60px;
  width: 60px;
}

.name {
  text-align: right;
  width: 75%;
  line-height: 14px;
}
.footer_blocks_100 {
  width: 100%;
}
.footer_blocks_33 {
  width: 33.3%;
}
.a_footer_block {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 5px;
}
.footer_block_80 {
  width: 80%;
  height: 80%;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.light {
  color: #7d97ad;
}
.spaced {
  letter-spacing: 3px;
}
.width80 {
  width: 80%;
}
.float_right {
  float: right;
}
.float_left {
  float: left;
}
.float_center {
  margin: 0 auto;
}
.img100x100 {
  width: 100%;
  height: 100%;
}